.visitor-summary-group {
  width: 200px;
  margin-left: 10px;
}

.visitor-summary-group .ant-input-group-addon {
  width: 115px;
}

.visitor-summary-group-active .ant-input-group-addon {
  background-color: lightgreen;
}

.visitor-summary-group .ant-input-group-wrapper {
  margin-bottom: 5px;
}

.visitor-detail-group {
  padding: 0;
}

.visitor-detail-group .ant-radio-button-wrapper {
  width: 33.33%;
  text-align: center;
}

.visitor-detail-group .ant-form-item {
  margin-bottom: 5px;
}

.visitor-detail-group .ant-input-group-addon {
  width: 165px;
  text-align: left;
}

.visitor-page-header-count {
  display: inline-block;
  height: 100%;
  width: 150px;
  margin-left: 15px;
  padding: 5px;
  font-size: 16px;
}

.visitor-webcam-container {
  border: 1px solid #d9d9d9;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.visitor-webcam-msg {
  text-align: center;
  padding-top: 47px;
  color: #999999;
}

.group-compact-select-wrapper {
  display: flex !important;
}

.group-addon-label {
  height: 32px;
  padding-top: 4px !important;
  flex: 0 0 165px;
}

.group-addon-input {
  flex: 1 1 auto;
}

.visitor-section-search {
  margin-bottom: 10px;
  width: 100%;
  padding: 25px;
  background-color: #f0f2f5;
  border: 1px solid #f0f2f5;
}

.visitor-history-search-wrapper .group-compact-select-wrapper,
.visitor-history-search-wrapper .ant-input-group-wrapper {
  margin-bottom: 5px;
}

.visitor-history-search-wrapper .ant-input {
  margin-bottom: 0;
}

.visitor-history-search-wrapper .visitor-action-group {
  margin-top: 10px;
  margin-bottom: 15px;
}

.setting-search-group .ant-input-group-addon {
  width: 100px;
  text-align: left;
}

.setting-search-group .ant-radio-button-wrapper {
  width: 33.33%;
  text-align: center;
}

.setting-search-group .ant-form-item {
  margin-bottom: 5px;
}

.setting-search-group .ant-input-group-addon {
  width: 90;
  text-align: left;
}

.setting-search-group .group-addon-label {
  height: 32px;
  padding-top: 4px !important;
  flex: 0 0 170px;
}

.setting-section-search {
  margin-bottom: 10px;
  width: 100%;
  height: 84px;
  padding: 25px;
  background-color: #f0f2f5;
  border: 1px solid #f0f2f5;
}

.setting-section-search .setting-section-search-btn {
  margin-left: 15px;
  min-width: 80px;
}

.configuration-group .ant-input-group-addon {
  width: 140px;
  text-align: left;
}

.ant-input-group .ant-input-group-wrapper {
  margin-bottom: 0 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn_90 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes fadeIn_60_90 {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.9;
  }
}

.fadeIn90Animation {
  animation: fadeIn_90 ease 1s;
}

.fadeIn6090Animation {
  animation: fadeIn_60_90 ease 1s;
}
.fadeInAnimation {
  animation: fadeIn ease 1s;
}

.fadeOutAnimation {
  animation: fadeOut ease 1s;
}

.visitorSessionLayoutContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  overflow: auto;
  background-image: url(./../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: both;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeTopIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
