.loginLayoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: #f0f2f5;
}

.loginLayoutContent {
  flex: 1 1;
  padding: 30px 0;
  background-image: url(./../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.loginLayoutTop {
  text-align: center;
}

.loginLayoutMain {
  width: 100%;
  margin: 0 auto;
}

.loginLayoutHeader {
  height: 44px;
  line-height: 44px;
}

.default-theme .loginLayoutOverlay {
  background-color: #049689;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.occ-theme .loginLayoutOverlay {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.dormakaba-theme .loginLayoutOverlay {
  background-color: #003594;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.loginLayoutTitle {
  position: relative;
  top: 2px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.loginLogo {
  margin: 10px 0;
  vertical-align: top;
  max-width: 100px;
  max-height: 100%;
}

.loginTitle {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: sans-serif;
}

.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  font-size: 30px !important;
}
